body {
    width: 777px;
    height: 603px;
    border: solid black 2px;
    margin: 0;
}

p, button {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: #333333;
}

div.weather-info {
    height: 314px;
    margin: 68px 52px;
    padding: 0 25px;
    border: solid #030303 3px;
    border-radius: 6px;
    box-shadow: 0 0 15px darkgrey, inset 0 0 15px darkgrey,
                0 0 3px #000000c7, inset 0 0 3px #000000c7;
}

div.location {
    text-align: center;
}

div.expected {
    padding: 1px 0 37px 0;
}

image {
    width: 150px;
    height: 88px;
}

form {
    margin: 21px 26px;
}

input {
    margin-left: 26px;
    width: 497px;
    height: 24px;
    border: solid black 3px;
    border-radius: 6px;
    box-shadow: 0 0 1px #000000c7, inset 0 0 1px #000000c7;
}

button {
    font-weight: 700;
    width: 137px;
    height: 35px;
    margin-left: 34px;
    background: linear-gradient(to top, #0ddbab, #0ff5bf);
    border: solid white 2px;
    border-radius: 7px;
}

